[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvloop = "*"
asyncpg = "*"
cryptography = "*"
jishaku = ">=2.3.0"
"discord.py" = {extras = ["speed"], git = "https://github.com/iDevision/enhanced-discord.py"}
psutil = "*"
pyyaml = "*"
youtube-dl = "*"
cchardet = "*"
aiodns = "*"
brotli = "*"

[dev-packages]
pre-commit = "*"
black = "*"
isort = "*"
autoflake = "*"

[requires]
python_version = "3.10"

[scripts]
start = "python3 runner.py"
