aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.2.0
charset-normalizer==2.0.9
discord.py @ git+https://github.com/iDevision/enhanced-discord.py
frozenlist==1.2.0
idna==3.3
multidict==5.2.0
uvloop==0.16.0
yarl==1.7.2